* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #303433;
}

body {
  min-height: 100vh;
  width: 100%;
  background: url('https://storage.googleapis.com/youthstring.appspot.com/img/romantic-dinner-romantic-place-with-romantic-couple-hd-wallpaper-for-mobile-free-download-wallpaper-preview.jpg') no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#otp{
  display: none;
}

section.side {
  background: url(./images/bk.png) no-repeat;
  background-size: 100% 102%;
}

.side img {
  width: 50%;
  max-width: 50%;
}

.login-container {
  max-width: 450px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-transform: uppercase;
  font-size: 3em;
  color:white;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}
.upper-container{
  background: #00000059;
  border-radius: 10px;
  padding: 10px 2px;
  padding-bottom: 45px;}

.button-text{
  color:white
}

.separator {
  width: 150px;
  height: 4px;
  background-color: #f06;
  margin: 24px;
}

.welcome-message {
  text-align: center;
  font-size: 1.1em;
  line-height: 28px;
  margin-bottom: 30px;
  color: white;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-control {
  width: 100%;
  position: relative;
  margin-bottom: 24px;
}

input,
button {
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 1.1em;
}

input {
  width: 100%;
  background: #e6e6e6;
  color: #333;
  letter-spacing: 0.5px;
  padding: 14px 64px;
}

input ~ i {
  position: absolute;
  left: 32px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  transition: color   0.4s;
}

input:focus ~ i {
  color: #F06;
}

button.send-otp-button {
  color: #fff;
  padding: 14px 64px;
  margin: 32px auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  background: #f06;
  cursor: pointer;
  transition: opacity 0.4s;
}

button.send-otp-button:hover {
  opacity: 0.9;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;

}

#otp.hide{
  display: none;
}

.google-icon{
  height: 35px;
}

/* g-signin2 */
.google-login{
  justify-content: center;
  align-items: center;
  display: flex;
}

.google-login-button{
  background: white;
  padding: 7px 23px;
  letter-spacing: 2px;
  justify-content: center;
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 14px;
}

.google-login-anchor-tag{
  text-decoration: none;
}

.or-text{
  margin-top: -39px;
  margin-bottom: 16px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

/* ----  Responsiveness   ----  */
@media (max-width: 800px) {

  body {
      display: flex;
      background: url('https://storage.googleapis.com/youthstring.appspot.com/img/pexels-katerina-holmes-5911135.jpg') no-repeat;
      background-size: cover;

      justify-content: center;
      align-items: center;
      background-color: #f7c7c769;
  }

  .side {
      display: none;
  }
}

/* 
#loader{
  position: fixed;
  width:110%;
  height: 100vh;
  background:#fff
  url('https://i.gifer.com/7VA.gif') no-repeat center;
  z-index: 99999;
} */

#loader{
  position: fixed;
  width:110%;
  height: 100vh;
  background:rgb(250, 2, 101);
  /* url('https://i.gifer.com/7VA.gif') no-repeat center; */
  z-index: 99999;
}

#errorContainer {
  display: flex;
  align-items: center;
  justify-content: center;

 }

 .error{
  display: flex;
  align-items: center;
  justify-content: center;

 }

 #recaptcha-container{
  display: flex;
  justify-content: center;
  align-items: center;

 }

/* loader button css */


/* styles.css */


.button-text {
  display: inline-block;
  transition: opacity 0.3s ease; /* Add a smooth transition for opacity */
}

.dots {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; /* Initially hidden */
}

.dot1 {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
  animation: bounce 1s infinite;
  animation-delay: 0s;}
.dot2 {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
  animation: bounce 1s infinite;
  animation-delay: 0.3s;
}
.dot3 {
  width: 10px;
  height: 10px;
  background-color:white;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
  animation: bounce 1s infinite;
  animation-delay: 0.6s;
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  25% {
      transform: translateY(-10px);
  }
  50% {
      transform: translateY(0);
  }
}
/* loader button css */