@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&display=swap');



*{
    box-sizing: border-box;
}
body{

    font-family:'Poppins', sans-serif ;
}

/* .my-slides{
    display: none;

} */

.my-slides img{

    vertical-align: middle;
    height: 200px;
    border-radius: 20px;
    width: 100%;
    margin: 0;
}
.slide-show-continer{
    max-width: 80%;
    position: relative;
    margin: auto; 

}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top:20% ;
    width: auto;
    padding: 16px;

    color: red;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;

}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;

}

.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);

}
.text{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 8px;
}

.numbertext{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;

}

.dot{
    cursor:pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    align-items: center;
    transition: background-color 0.6s ease;
}

.active, .dot:hover{
    background-color: #717171;
}

.multiple-dots{
    text-align: center;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;

}

.first-half{

    padding: 5px 0px;
    
}
.location-icon {
    height: 18px;
    fill: #717171;
}

.food-icon {
    height: 20px;

    fill: grey;
}
.swaps-icon {
    height: 20px;

    fill: grey;
}
.grey-included ul{
    padding:  0px;
    margin: 0;
}
.grey-included li{
    color:#717171;
    list-style: none;
    padding: 3px;
}
.gift-icon{
    height: 20px;
    margin: -1px 0;
    stroke: grey;
}
.dance-icon{
    height: 25px;
    margin: -2px 0px;
    padding: 0px 2px;
    fill: grey;
}

.calendar-icon {
    height: 18px;
    fill: #717171;

    padding-right: 4px;
    padding-bottom: 0;
}

.metro-icon{
    height: 22px;
    fill: #717171;
    margin-left: -2px;

}

.metro-text{
    padding: 2px;
    margin-left: -4px;
    display: inline-flex;
}

.thumbs-up-icon{
    width: 36px;
    fill: rgb(88, 197, 88);
    cursor: pointer;
}

.description-box{
    width: 50%;
    font-family: 'Noto Sans', sans-serif;
    padding: 10px 10px;
    background-color: rgb(255, 255, 234);
    border-radius: 10px;
}
.interest-box{

    font-family: 'Noto Sans', sans-serif;
    padding: 10px 10px;
    background-color: rgb(255, 255, 234);
    border-radius: 10px;
}

.whats-included-box{

    font-family: 'Noto Sans', sans-serif;
    padding: 10px 10px;
    background-color: rgb(255, 255, 234);
    border-radius: 10px;
}

.map{
    color: #EC5E71;
    cursor: pointer;
    margin-left: -7px;
}

.event-header{
    padding: 10px 10px;

}
.thumbs-up{
    display: flex;
    top: 0;
    /* justify-content: center; */
    align-items: flex-start;

}
.interested-btn{
    background: none;
    outline: none;
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
    font-size: 18px;
    right: 25px;
    justify-content: center;
    text-decoration: none;
    border: 1px solid red;
    padding: 10px 15px;
    color: red;
}
.likes-number{
    font-size: 20px;
    margin-top: 7px;
    margin-left: 7px;
}

.people-interest-text{
    font-size: 14px;
    color:rgb(143, 139, 139)
}


.date-time-venue li{


    list-style: none;
    color: #717171;
    padding: 3px 10px;
    margin-left: -40px;

}

/* .date-time-venue svg{

    height: 18px;
    fill: #717171;
} */




.book-btn{


    color:white;

    font-family: 'Mukta', sans-serif;
    background-color: red;
    padding: 8px 28px;
    font-size: 20px;
    margin: 7px 0;
    width: 100%;
    border: none;
    margin: 0;
    background-color: none  ;
    cursor:pointer;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); 
}
.ticket-icon{
    height: 20px;
    fill: white;
}

.hry-text{
    color: #f2f2f2;
    font-size: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;

}


.bottom-button{
    background-color:rgb(0, 0, 0);
    height: 50px;
    left:0%;
    position: fixed;
    width: 100%;
    bottom: 1%;
    border-radius: 15px;

}

.desc-body{
    color:#717171;
}

.desc-head{
    font-family: 'Mukta', sans-serif;

    font-size: 18px;
}

.included-head{
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
}

@-webkit-keyframes fade{
    from {opacity: .4}
    to {opacity: 1}

}

@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}

@media only screen and (max-width:300px){
    .prev, .next, .text{
        font-size: 11px   ;
        top:15%;
    }
    .dot{
        height: 10px;
        width: 10px;
    }
    .description-box{
        width: 100%;
    }
}

@media only screen and (max-width:500px){
    .prev, .next, .text{
        font-size: 14px   ;
        top:12%;
    }
    .description-box{
        width: 100%;
    }
}

@media only screen and  (min-width: 500px) and (max-width: 1500px) {
    .prev, .next, .text{
        font-size: 14px   ;
        top:12%;
    }
    .description-box{
        width: 100%;
    }

}

#bottomSheet {
    position: fixed;
    bottom: 0;
    left: 0;

    border-top: 2px solid red ;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius:20px;
    height: 0;
    background-color:#F9EDED;
    transition: height 0.5s ease-in-out;
    overflow: hidden;
  }
  
  #bottomSheet.open {
    height: 400px; /* Adjust the height as per your requirements */
  }
  
  .content {
    padding: 20px;
  }

  .discount-text{
    color: #717171;
    font-size: 12px;
  }

  .addtocart-container{
    display: flex;
  }

  .add-passes{
    margin-left: auto;
    border: 1px solid red;
    padding: 6px 10px;
    border-radius: 19px;
    color: red;
    float: right;
    background:#ffffff;
    font-weight: bold;
}

.gender-button{
    margin-left: auto;
    border: 1px solid red;
    padding: 6px 10px;
    border-radius: 19px;
    color: red;
    float: right;
    background:#ffffff;
    font-weight: bold;
}

.select-pass-quantity{
    padding-top: 8px 0;
    margin-top: 2px;
}

.add-to-cart{
    height: 18px;
    margin-bottom: -5px;
    fill: red;
}

.gender-selection-box{
    display: flex;
}

.gender-icon{
    height: 18px;
    fill: red;
    margin-bottom: -4px;
}

.select-gender{
    margin-top:3px
}


.get-pass-button{
    bottom: 0px;
    transform: translate(-50%, -50%);
    /* padding: 22px 10px; */
    border: none;
    color: white;
    background: red;
    padding: 14px 17px;
    border-radius: 26px;
    width: 89%;
    position: absolute;
    left: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.bottom-part{
    display: flex;
}

.gender-discount-text{
    font-size: 10px;
    display: flex;
}