/* styles.css */

.get-pass-button {
  position: relative;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  overflow: hidden;
}

.button-text {
  display: inline-block;
  transition: opacity 0.3s ease; /* Add a smooth transition for opacity */
}

.dots {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; /* Initially hidden */
}

.dot1 {
  width: 10px;
  height: 10px;
  background-color: #f06;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
  animation: bounce 1s infinite;
  animation-delay: 0s;}
.dot2 {
  width: 10px;
  height: 10px;
  background-color: #f06;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
  animation: bounce 1s infinite;
  animation-delay: 0.3s;
}
.dot3 {
  width: 10px;
  height: 10px;
  background-color: #f06;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
  animation: bounce 1s infinite;
  animation-delay: 0.6s;
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  25% {
      transform: translateY(-10px);
  }
  50% {
      transform: translateY(0);
  }
}
